.app__footer {
	flex: 1;
	width: 100%;
	flex-direction: column;

	.title-text {
		margin-top: 3.7rem;
	}

	&-cards {
		width: 70%;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		flex-wrap: wrap;
		margin: 2.5rem 1rem 2rem;
	}

	&-card {
		min-width: 300px;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;

		margin: 1rem 0;
		padding: 1rem;
		border-radius: 20px;
		cursor: pointer;
		background-color: var(--lightgray-color);
		transition: all 0.3s ease-in-out;

		img {
			width: 40px;
			height: 40px;
			margin: 0 1rem;
		}

		p {
			font-weight: 600;
		}

		a {
			text-decoration: none;
			font-weight: 500;
			font-size: 0.9rem;
		}

		&:hover {
			box-shadow: 0 0 25px #fef4f5;
		}

		@media screen and (max-width: 450px) {
			width: 100%;
		}
	}

	@media screen and (max-width: 768px) {
		width: 100%;
	}

	&-cards &-card {
		background-color: #f2f7fb;
	}

	&-form {
		width: 60%;
		flex-direction: column;

		div {
			width: 100%;
			margin: 0.75rem 0;
			border-radius: 10px;
			cursor: pointer;
			background-color: var(--white-color);
			transition: all 0.3s ease-in-out;

			input,
			textarea {
				width: 100%;
				padding: 0.95rem;
				border: none;
				border-radius: 7px;
				background-color: rgba($color: #3c4c85, $alpha: 0.2);
				font-family: var(--font-base);
				color: var(--black-color);
				outline: none;
			}

			textarea {
				height: 170px;
			}

			&:hover {
				box-shadow: 0 0 25px var(--primary-color);
			}
		}

		button {
			padding: 1rem;
			border-radius: 15px;
			border: none;
			font-size: 1rem;
			background-color: var(--secondary-color);
			font-weight: 500;
			color: var(--white-color);
			outline: none;
			margin: 2rem 0 0;
			padding: 1rem 2rem;
			font-family: var(--font-base);
			cursor: pointer;
			transition: all 0.3s ease-in-out;

			&:hover {
				background-color: #1a1d1d;
			}
		}

		@media screen and (max-width: 768px) {
			width: 100%;
			margin: 1rem 0;
		}
	}
}
