.app__testimonial {
	flex: 1;
	width: 100%;
	flex-direction: column;

	&-item {
		width: 80%;
		min-height: 320px;
		display: flex;
		flex-direction: column;
		padding: 2rem;
		text-align: center;

		img {
			width: 200px;
			height: 200px;
			border-radius: 50%;
			object-fit: cover;
		}

		@media screen and (min-width: 2000px) {
			min-height: 450px;
			img {
				height: 150px;
				width: 150px;
			}
		}

		@media screen and (max-width: 900px) {
			width: 100%;
		}

		@media screen and (max-width: 1200px) {
			width: 100%;
		}
	}

	.testimonial-container {
		display: flex;
		flex-direction: column;
		z-index: 5;

		.app__testimonial-content {
			flex: 1 1 auto;
			height: 100%;
			padding: 0 3rem;
			text-align: center;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;

			p {
				font-size: 1.2rem;
				font-weight: 400;
				line-height: 2rem;
				color: var(--black-color);
				font-family: 'DM Sans', sans-serif;
				text-align: center;
			}

			.quote-png {
				width: 70px;
				height: 70px;
				margin: 3rem 0;
			}

			h4 {
				text-align: center;
				font-size: 1.4rem;
				font-weight: 700;
				color: var(--secondary-color);
			}

			h5 {
				text-align: center;
				font-size: 1.2rem;
				font-weight: 600;
				color: var(--gray-color);
				margin-top: 1rem;
			}

			@media screen and (max-width: 900px) {
				padding: 0;
			}
		}
	}

	&-btns {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		margin: 0 0 1rem 0;
		align-items: flex-start;

		div {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			background-color: var(--white-color);
			margin: 1rem;
			transition: all 0.3s ease-in-out;
			svg {
				width: 20px;
				height: 20px;
				color: var(--secondary-color);
			}

			&:hover {
				background-color: var(--secondary-color);
				svg {
					color: var(--white-color);
				}
			}
		}
	}
}

.app__testimonial-brands {
	width: 80%;
	flex-wrap: wrap;
	margin-top: 2rem;

	div {
		width: 150px;
		margin: 1.5rem;

		img {
			width: 100%;
			height: auto;
			object-fit: cover;
			filter: grayscale(1);
		}

		&:hover {
			img {
				filter: grayscale(0);
			}
		}

		@media screen and (min-width: 2000px) {
			img {
				width: 210px;
				margin: 2rem;
			}
		}

		@media screen and (max-width: 450px) {
			img {
				width: 120px;
				margin: 1rem;
			}
		}
	}

	@media screen and (max-width: 800px) {
		width: 100%;
	}
}
